---
import Layout from "@/layouts/Layout.astro";
import Badge from "@components/Badge.astro";
---

<Layout title="Home — Criati">
    <main class="flex flex-1 flex-col justify-center text-center">
        <div class="flex flex-col items-center gap-8 p-3">
            <a href="https://twitter.com/yidxte" target="_blank">
                <Badge>Follow me for updates</Badge>
            </a>
            <div>
                <h1 class="text-4xl tracking-tighter md:text-9xl">
                    Creative components
                </h1>
                <h1 class="text-4xl tracking-tighter md:text-9xl">
                    for the <span class="italic">web</span>.
                </h1>
            </div>
            <p class="max-w-6xl text-base sm:text-2xl">
                This project aims to develop reusable components inspired by the
                captivating designs showcased on websites such as Awwwards,
                Godly, TheFWA, and more. Our goal is to curate the most visually
                striking elements and make them accessible to everyone.
            </p>
            <button
                class="leading inline-flex h-8 shrink-0 cursor-progress items-center justify-center rounded bg-foreground px-3 text-center align-top text-sm tracking-normal text-muted-foreground"
                disabled>Under construction</button
            >
        </div>
    </main>
</Layout>
